.Home {
	justify-content: center;
	align-items: center;
	align-content: center;

	padding-top: 2%;
}

.homeHeaderImg {
	width: 50%;
}

.release {
	padding-top: 10%;
}

.bold {
	font-size: 1.3rem;
	font-weight: bold;
}

.lala2pics {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.lala2pics:hover {
	cursor: pointer;
}

.lala2pics img {
	width: 15%;
}
